<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Glassmorphism Login</title>
  <link rel="stylesheet" href="../static/check.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">your name to check it ?</h1>
                <form action="{{url_for('check')}}" method="post">


    <input type="text" name="user_name_for_pass" required placeholder="please write your name">
    <button type="submit">check </button>
    </form>
                <div class="register-forget opacity">
                    <a href="/register">REGISTER</a>

                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
